{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>마이페이지에 오신 것을 환영합니다</h1>

<h3>{{user.profile.nickname}}님 안녕하세요</h3>
<h3>당신의 학과는 {{user.profile.department}}입니다</h3>
<h3>당신의 mbti는 {{user.profile.mbti}}입니다</h3>
<br>

    {% for post in posts %} 
        {% if user.profile.nickname == post.writer %}
            <div> 
                <hr/> 
                <h3>{{post.title}}</h3> 
                {{post.writer}} | {{post.pub_date}}<br> 
                {{post.summary}} 
                <a href="{% url 'main:detail' post.id %}">자세히 보기</a>
                <br> 
            </div> 
        {% endif %}
    {% endfor %} 
{% endblock %}