{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<img src="{% static 'images/catflower.png' %}" alt="catflower" width="300px" height="200">
<h1 class="contents">2024년 동국대 5주차</h1>
<div class="contents">꽃🌸 구경 가셨나요?</div>
<div>🌸서울 벚꽃 구경 명소🌸</div>
<ul>
<li>석촌호수 : 낮에도 예쁘지만, 노을 질 대도 예쁘 더 예쁘다!</li>
<li> 남산 : 남산 벚꽃길을 걸은 후에 돈까스까지!</li>
<li>경희대 서울 캠퍼스 : 벚꽃하면 경희랜드...</li>
<li>남산골 한옥마을 : 학교 근처에 있는 마을로, 산책가면 좋아요!</li>
</ul>

<div>🌸소풍 가서 먹을 메뉴🌸</div>
<ul>
<li>유부초밥</li>
<li>방울토마토</li>
<li>치킨&맥주</li>
</ul>

{% endblock %}